*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title{
    background-color: rgb(8, 167, 8);
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    padding: 12px;
    font-size: 18px;
}

.table{
   font-size: 14px;
   display: flex;
   gap: 15px;
   margin-left: 170vh;
   padding: 5px;
}

.body{
    text-align: center;
    background-color: rgb(205, 202, 202);
    height: 300px;
    width: 100%;
    padding: 90px;
}

.text{
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
}

button{
    background-color: rgb(205, 202, 202);  
    border-radius: 5px;
    height: 30px;
    width: 100px;
    color: white;
    border: none;
    background-color: rgb(8, 167, 8);
}

.input{
    display: flex;
    gap: 30px;
    height: 50px;
    padding-left: 30px;
}

.feature{
    background-color: rgb(205, 202, 202);
    color: black;
    width: 470px;
    height: 50px;
}

.tfoot{
    background-color: rgb(205, 202, 202);
    width: 100%;
    height: 60px;
    text-align: center;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.814);
}



